body{
    margin:0;
    height: 100%;
    background-color: #202124;
}
.head{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:10px 20px;
}
.head-div{
    display: flex;
    cursor: pointer;
    transition: 0.2s;
}
.head-div a:hover{
    text-decoration: underline solid white;
}
.head-div a{
    padding-left: 20px;
    text-decoration: none;
    color:white;
    font-size: 12px;
}
.head-div img{
    width: 16px;
    height: 16px;
    background-color: #303134;
}
.head-div  img:hover{
    background-color: #303134;
    border: #303134;
    border-radius: 20px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:80vh;
}
.search{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 24px;
    width: auto;
    min-height: 44px;
    min-width: 584px;
    padding: 0px 10px;
    margin: 20px;
}
.magnifying-glass{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search .mic img{
    width: 24px;
    height: 24px;
}   
.search .camera img{
    width: 24px;
    height: 24px;
}
.search .mahaba input{
   position: relative;
   display: block;
   right: 150px;
   width: 250%;
   padding: 7px;
   background-color: transparent;
   border: none;
   outline: none;
   color: white;
}
.btn button{
    padding:9px 9px;
    border-radius: 4px;
    background-color: #303134;
    color:white;
    outline: none;
    border: none;
}
.btn a{
    color: white;
    padding-left: 20px;
}
.gsec{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px 10px;
    color:white;
    box-shadow: none;
}
.gsec a{
    color:#99c3ff;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
}
.gsec a:hover{
    text-decoration: underline;
}
.gsec img{
    width: 32px;
    height: 32px;
    padding: 6px;
}
.goff{
    display: flex;
    color: white;
    cursor: pointer;
    transform: 0.2s;

}
.goff a{
    text-decoration: none;
    color:#99c3ff; 
    padding:3px 0px 
}
.goff .fil{
    padding: 3px 3px;
}
.goff .ceb{
    padding: 3px 3px;
}
.goff a:hover{
    text-decoration: underline;
}
.paa{
    color:white;
    background-color:#161617 ;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.paa p{
   padding:0px 20px; 
}
.tow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 20px
}
.tow a{
    color: white;
    text-decoration: none;
    padding:5px 5px;
}
hr{
    opacity: 0.5;
}